@import '../../../theme.scss';

.navLink {
		align-items: center;
		color: $white;
		display: flex;
		font-family: $fontFamily;
		font-size: 20;
		justify-content: center;
		margin: 0 10px;
		padding: 0 20;
		text-decoration: none;

		&:hover {
				background-color: #ffbed1;
		}
}

.icon {
		margin-right: 5;
}
