@import '../styles.scss';

.contentContainer {
		align-items: center;
		margin-top: 30;
}

.inputContainer {
		margin-bottom: 20;
}

.customTextArea {
		margin-right: 10;	
}

.customButtonStyle {
		width: 200;
		margin-right: 10;
}