@import '../styles.scss';

.contentContainer {
		margin-top: 30;
}

.tableContainer {
		justify-content: center;
		margin-bottom: 20;
		width: 100%;
}

.paginationContainer {
		justify-content: flex-end;
		width: 80%;
}
